@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Crimson+Text:wght@400;600&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Crimson Text', serif;
}

.main-container {
    padding: 50px 0;
}

.navbar .navbar-brand {
    color: #000;
    font-weight: 700;
}

.navbar .nav-link {
    color: #000;
    font-weight: 300;
    font-size: 1.2em;
}

.navbar .navbar-toggler {
    box-shadow: none;
}

.main-title {
    font-size: 5.5em;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}

.badges-icons {
    gap: 15px;
}

.main-paragraphy {
    color: gray;
    font-size: 1.5em;
    font-weight: 400;
}

.logo-brand-app {
    width: 30%;
    height: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.card-icon i {
    font-size: 3.5em;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-icon h3 {
    font-weight: 600;
}

.card-icon p {
    color: gray;
}

.bg-pexels {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./assets/img/pexels-cottonbro-studio-3585091.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bg-pexels-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.text-cellphone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 70%;
    gap: 25px;
}